body
{
    background-color: rgb(255, 193, 224);
}

h1
{
  color: rgb(0, 174, 255); 
  text-align: center;
  font-family: sans-serif;  
}

h2
{
    color:rgb(174, 74, 255);
    font-family: sans-serif;
}

#input1_1
{
    text-align: left;
}